{% extends 'template.html' %}

{% block content %}
    <h1>{% block title %} Flask CRUD example {% endblock %}</h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span style="color:black" class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span style="color:grey; font-size: 20px" class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}